
.bord-overview{
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 78px;
    width: calc(100% - 78px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    
}
.Overview-Text{
    padding-left: 50px;
    padding-top: 20px;
}
.Overview-Text h1{
    font-family: 'Kanit';
    font-size: 2.5rem;
}
.Overview-Content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.Overview-Content-Left{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.Status-Top{
    /* background-color: black; */
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.Status-Top-Left{
    padding: 15px;
    background-color: #0c96de;
    width: 250px;
    height: 110px;
    border-radius: 10px;
    align-self: center;
    position: relative;
    font-family: 'Kanit';
}
.Status-Top-Left h2{
    color: white;
    font-family: 'Kanit';
}
.Status-Top-Left p{
    font-family: 'Kanit';
    font-size: 0.8rem;
}
.Status-Top-Left div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    color: white;
}
.Status-Top-Left div div {
    justify-content: flex-end;
}
.Status-Top-Mid{
    padding: 15px;
    background-color: rgb(46, 150, 46);
    width: 250px;
    height: 110px;
    border-radius: 10px;
    align-self: center;
    color:white
}

.Status-Top-Mid h2 {
    font-family: 'Kanit';
}
.Status-Top-Mid div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    color: white;
}

.Status-Top-Right{
    padding: 15px;
    background-color: rgb(161, 43, 27);
    width: 250px;
    height: 110px;
    border-radius: 10px;
    align-self: center;
    color: white;
}

.Status-Top-Right h2 {
    font-family: Kanit;
}
.Status-Top-Right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.Status-Chart{
    /* background-color: red; */
    width: 900px;
}
.Chart-Box{
    background-color: white;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 20px;
}
.Overview-Content-Right{
    /* background-color: pink; */
    height: 610px;
}
.Activity-Box{
    background-color: white;
    border-radius: 20px;
    height: 100%;
    margin-left: 20px;
    padding: 0px 10px;
}
.Daily-Activity-Text{
    padding: 20px;
}
.Activity{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.Activity .title {
    font-family: 'Kanit';
}
.Activity .description {
    font-family: 'Kanit';
    color: #939393;
    font-size: 0.5rem;
}
.typeActi {
    font-family: 'Kanit';
}