.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlebutton {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.rightside {
  display: flex;
  justify-content: flex-end;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
}

.title {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.modal-box {
  position: absolute;
  width: 600px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exit-button {
  width: 25px;
  height: 25px;
  border-radius: 13px;
  background-color: red;
  border: none;
  color: white;
}

.custom {
  background-color: green;
  border: none;
}

.titlebox1 {
  display: flex;
  justify-content: left;
}
.titlebox2 {
  display: flex;
  flex-direction: column;
  justify-content: left;

  font-size: 10px;
}
.bottombutton {
  display: flex;
  justify-content: right;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: calc(100% - 50px);
}
.wrapper-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.img-legend {
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -25%;
  width: 50%;
  border-radius: 10px;
  background: rgb(44, 44, 44);
  color: #fff;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.35s ease-in-out;
}
.carousel:hover .slide .img-legend {
  opacity: 1;
}

.preview-img {
  height: 80vh;
  width: auto;
  transition: transform 0.5s;
}

.img-modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-preview-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-tools {
  position: absolute;
  bottom: 10px;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.zoom-tools div {
  display: flex;
  align-items: center;
}
.container-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.container-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.container-primary-exit {
  position: absolute;
}
.container-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.container-secondary-enter {
  transform: translateX(110%);
}
.container-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.container-secondary-exit {
}
.container-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

.bed-no input {
  height: fit-content;
}

.patient-details {
  font-size: 1rem;
}
.address-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.address-container p {
  font-size: 1.5rem;
}